[submodule "dougschveninger"]
	path = dougschveninger
	url = https://github.com/dschveninger/dougschveninger.git
[submodule "common-tools"]
	path = common-tools
	url = https://github.com/dschveninger/common-tools
